@import "tailwindcss";

/* Cấu hình Theme cho Tailwind v4 nằm ở đây */
@theme {
  --color-primary: #fc5200; /* Cam Strava */
  --color-secondary: #242428; /* Đen Xám */
  --color-background: #f7f7f7; /* Xám nền */
  --color-surface: #ffffff; /* Trắng */
  --color-success: #22c55e; /* Xanh lá */
  --color-danger: #ef4444; /* Đỏ */
}
